/*обнуление*/

*, *:before, *:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
 html, body {
    height: 100%;
 }

 /*Стили для демонстрации*/

 body {
    font-family: Arial, Helvetica, sans-serif;
 }

 .wrapper {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
 }

 /*Остальные стили*/

.page {
position: absolute;
width: 100%;
inset: 0;
}

.parallax {
position: relative;
height: 100%;
}

.parallax__mountain {
position: fixed;
height: 100%;
width: 100%;
top: 0;
left: 0;
}

.parallax__mountain_1 {
background: url('./img/m_1.png') 0 0 / cover no-repeat;
}

.parallax__mountain_2 {
    z-index: 1;
background: url('./img/m_2.png') bottom right / 45% no-repeat;
}
.parallax__mountain_3 {
    z-index: 1;
    background: url('./img/m_3.png') bottom left / 100% no-repeat;
}
.parallax__fog {
    z-index: 2;
    background: url('./img/fog_1.png') bottom / 100% no-repeat;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.content {
position: relative;
}

.content__body {
max-width: 1170px;
margin: 0 auto;
}

.content__header {
text-align: center;
text-transform: uppercase;
margin-bottom: 20px;
padding: 0 20px;
}

.content__title {
font-size: 96px;
}

.content__subtitle {
font-size: 60px;
}

.content__article {
background-color: rgba(255,255,255,0.5);
padding: 25px;
font-size: 18px;
line-height: 24px;
}

.content__article p {
    margin-bottom: 20px;
}